<div class="row">
    <div class="col-sm-4">
		<div class="form-box">
			<div class="form-bottom">
				<form role="form" class="login-form">
		  			<div class="form-group">
		  				<label class="sr-only" for="search">Search:</label> 
		  				<input type="text" class="form-control" id="search" name="search" placeholder="Search" ng-model="controller.clinicSearch.queryFilter"/>
		  				<md-autocomplete ng-disabled="false" md-no-cache="ctrl.noCache"
					          md-selected-item="ctrl.selectedItem"
					          md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
					          md-search-text="ctrl.searchText"
					          md-selected-item-change="ctrl.selectedItemChange(item)"
					          md-items="item in ctrl.querySearch(ctrl.searchText)"
					          md-item-text="item.display"
					          md-min-length="0"
					          placeholder="What is your favorite US state?">
					        <md-item-template>
					          <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
					        </md-item-template>
					        <md-not-found>
					          No states matching "{{ctrl.searchText}}" were found.
					          <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
					        </md-not-found>
					      </md-autocomplete>
		      		</div>
		      		<div class="form-group">
						<label for="country">Country:</label>
						<select class="form-control" id="country" name="country" ng-model="controller.clinicSearch.country" ng-change="controller.loadCities()" ng-options="country.name for country in controller.clinicSearch.countries"></select>
					</div>
					<div class="form-group">
						<label for="city">City:</label>
						<select class="form-control" id="city" name="city" ng-model="controller.clinicSearch.city" ng-options="city.name for city in controller.clinicSearch.cities"></select>
					</div>
		  		</form>
			</div>
		</div>
	</div>
                 
    <div class="col-sm-8">
	   	<div class="form-box">
	        <div class="form-bottom">
	        	<table ng-table="vm.tableParams" class="table" show-filter="true">
				    <tr ng-repeat="user in $data">
				        <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
				            {{user.name}}</td>
				        <td title="'Age'" filter="{ age: 'number'}" sortable="'age'">
				            {{user.age}}</td>
				    </tr>
				</table>
			</div>
		</div>
	</div>
</div>
             
       



